/* background color */
.root {
    -fx-background-color: #d7e4eb;
}

#new_game {
    -fx-background-color:#34aed7;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-align-items: center;
}

#new_game:hover {
    -fx-background-color:#6ab66a;
}

#scoreText{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-align-items: right;
    
}

#scoreNumber{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}
